template(name="appErrors")
    .errors
      each errors
        +appError
    
template(name="appError")
    div(class="alert alert-{{type}}" role="alert")
        button.close(type="button" data-dismiss="alert") &times;
        {{message}}